<div class="container  ">
    <img class="w-100" height="250px" src="assets/images/footerImage.jpg" alt="">
    <div class="w-100 wrapper d-flex justify-content-around align-items-center">
        <div class="">
            <h4 class=" p-2 text-light bg-dark border border-light">
                Subscribe to our new sletter and <br> receive exclusive offers every week
            </h4>
        </div>
        <div>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-warning" type="submit">Search</button>
            </form>
        </div>

    </div>
    <div class="nav">
        <div class="w-100 row d-flex justify-content-between">
            <div class=" col-md-4 left ">
                <div class="my-5 py-3 ">
                    <div class=" my-3 brand">
                        <img class="w-50" src="assets/images/eStore.png" alt="">
                    </div>
                    <div class="my-5 description">
                        <p> House my brand design clothing for the young the old & <br> everyone in between - but most importantly for the fashionable
                        </p>
                    </div>
                    <div class=" social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-linkedin-in"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="  my-5 col-md-6 right ">
                <div class="row">
                    <div class=" my-5 col-md-4">
                        <div class="title">
                            <p><b>Shopping online</b> </p>
                        </div>
                        <div class="nav-links">
                            <a href="#">Order status</a>
                            <a href="#">Shipping and delivry </a>
                            <a href="#">Returns</a>
                            <a href="#">Payment Options</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class=" my-5 col-md-4">
                        <div class="title">
                            <p> <b>Information</b> </p>
                            <div class="nav-links">
                                <a href="#">Gift cards</a>
                                <a href="#">Find a store </a>
                                <a href="#">Newstletter</a>
                                <a href="#">Become a member</a>
                                <a href="#">Site feedback</a>
                            </div>
                        </div>
                    </div>
                    <div class=" my-5 col-md-4">
                        <div class="title">
                            <p> <b>Contact</b> </p>
                            <div class="nav-links">
                                <a href="#">store@Uikit.com</a>
                                <a href="#">Hotline:+1 131 138 138 </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<div class="text-center py-3  border-top">
    <p class="text-muted"> Designed by Whatever - &copy; 2019.ALL RIGHT RESERVED</p>
</div>