<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand " routerLink="/men"><img src="assets/images/eStore.png " class="w-25" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/men">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/women">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/kids">Kids</a>
                </li>
            </ul>

            <ul class=" nav-icons px-5">
                <i class="fas fa-search"></i>
                <i class="fas fa-shopping-cart"></i>
                <i class="far fa-user"></i>
            </ul>

        </div>
    </div>
</nav>